In [206]:
import pandas as pd
import numpy as np

In [207]:
df = pd.read_csv("fraud_insurance_claims.csv")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17 00:00:00,OH,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,Y
1,228,42,342868,2006-06-27 00:00:00,IN,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,Y
2,134,29,687698,2000-09-06 00:00:00,OH,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,N
3,256,41,227811,1990-05-25 00:00:00,IL,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y
4,228,44,367455,2014-06-06 00:00:00,IL,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,N

In [208]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 39 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   months_as_customer           1000 non-null   int64
 1   age                          1000 non-null   int64
 2   policy_number                1000 non-null   int64
 3   policy_bind_date             1000 non-null   object
 4   policy_state                 1000 non-null   object
 5   policy_csl                   1000 non-null   object
 6   policy_deductable            1000 non-null   int64
 7   policy_annual_premium        1000 non-null   float64
 8   umbrella_limit               1000 non-null   int64
 9   insured_zip                  1000 non-null   int64
 10  insured_sex                  1000 non-null   object
 11  insured_education_level      1000 non-null   object
 12  insured_occupation           1000 non-null   object
 13  insured_hobbies              1000 non-null   object
 14  insured_relationship         1000 non-null   object
 15  capital-gains                1000 non-null   int64
 16  capital-loss                 1000 non-null   int64
 17  incident_date                1000 non-null   object
 18  incident_type                1000 non-null   object
 19  collision_type               1000 non-null   object
 20  incident_severity            1000 non-null   object
 21  authorities_contacted        1000 non-null   object
 22  incident_state               1000 non-null   object
 23  incident_city                1000 non-null   object
 24  incident_location            1000 non-null   object
 25  incident_hour_of_the_day     1000 non-null   int64
 26  number_of_vehicles_involved  1000 non-null   int64
 27  property_damage              1000 non-null   object
 28  bodily_injuries              1000 non-null   int64
 29  witnesses                    1000 non-null   int64
 30  police_report_available      1000 non-null   object
 31  total_claim_amount           1000 non-null   int64
 32  injury_claim                 1000 non-null   int64
 33  property_claim               1000 non-null   int64
 34  vehicle_claim                1000 non-null   int64
 35  auto_make                    1000 non-null   object
 36  auto_model                   1000 non-null   object
 37  auto_year                    1000 non-null   int64
 38  fraud_reported               1000 non-null   object
dtypes: float64(1), int64(17), object(21)
memory usage: 304.8+ KB

In [209]:
df.isnull().sum()

months_as_customer             0
age                            0
policy_number                  0
policy_bind_date               0
policy_state                   0
policy_csl                     0
policy_deductable              0
policy_annual_premium          0
umbrella_limit                 0
insured_zip                    0
insured_sex                    0
insured_education_level        0
insured_occupation             0
insured_hobbies                0
insured_relationship           0
capital-gains                  0
capital-loss                   0
incident_date                  0
incident_type                  0
collision_type                 0
incident_severity              0
authorities_contacted          0
incident_state                 0
incident_city                  0
incident_location              0
incident_hour_of_the_day       0
number_of_vehicles_involved    0
property_damage                0
bodily_injuries                0
witnesses                      0
police_report_available        0
total_claim_amount             0
injury_claim                   0
property_claim                 0
vehicle_claim                  0
auto_make                      0
auto_model                     0
auto_year                      0
fraud_reported                 0
dtype: int64

In [210]:
df.columns

Index(['months_as_customer', 'age', 'policy_number', 'policy_bind_date',
       'policy_state', 'policy_csl', 'policy_deductable',
       'policy_annual_premium', 'umbrella_limit', 'insured_zip', 'insured_sex',
       'insured_education_level', 'insured_occupation', 'insured_hobbies',
       'insured_relationship', 'capital-gains', 'capital-loss',
       'incident_date', 'incident_type', 'collision_type', 'incident_severity',
       'authorities_contacted', 'incident_state', 'incident_city',
       'incident_location', 'incident_hour_of_the_day',
       'number_of_vehicles_involved', 'property_damage', 'bodily_injuries',
       'witnesses', 'police_report_available', 'total_claim_amount',
       'injury_claim', 'property_claim', 'vehicle_claim', 'auto_make',
       'auto_model', 'auto_year', 'fraud_reported'],
      dtype='object')

In [211]:


df["policy_state"] = df["policy_state"].map({"OH": 0, "IL" : 1, "IN" : 2})
df["insured_sex"] = df["insured_sex"].map({"FEMALE": 0, "MALE" : 1})
df["insured_education_level"] = df["insured_education_level"].map({"JD": 0, "High School" : 1, "Associate" : 2, "MD" : 3, "Masters": 4, "PhD" : 5, "College" : 6 })
df["insured_relationship"] = df["insured_relationship"].map({"own-child": 0, "other-relative" : 1, "not-in-family" : 2, "husband" : 3, "wife": 4, "unmarried" : 5})
df["incident_type"] = df["incident_type"].map({"Multi-vehicle Collision": 0, "Single Vehicle Collision" : 1, "Vehicle Theft" : 2, "Parked Car" : 3})
df["collision_type"] = df["collision_type"].map({"Rear Collision": 0, "Side Collision" : 1, "Front Collision" : 2, "?" : 3})
df["incident_severity"] = df["incident_severity"].map({"Minor Damage": 0, "Total Loss" : 1, "Major Damage" : 2, "Trivial Damage" : 3})
df["authorities_contacted"] = df["authorities_contacted"].map({"Police": 0, "Police" : 1, "Other" : 2, "Other" : 3, "None": 4})
df["incident_state"] = df["incident_state"].map({"NY": 0, "SC" : 1, "WV" : 2, "VA" : 3, "NC": 4, "PA" : 5, "OH" : 6})
df["incident_city"] = df["incident_city"].map({"Springfield": 0, "Arlington" : 1, "Columbus" : 2, "Northbend" : 3, "Hillsdale": 4, "Riverwood" : 5, "Northbrook" : 6})
df["fraud_reported"] = df["fraud_reported"].map({"N": 0, "Y" : 1})

In [212]:
df.age.value_counts()

43    49
39    48
41    45
34    44
38    42
30    42
31    42
37    41
33    39
40    38
32    38
29    35
46    33
42    32
35    32
36    32
44    32
28    30
26    26
45    26
48    25
47    24
27    24
57    16
25    14
55    14
49    14
53    13
50    13
24    10
54    10
61    10
51     9
60     9
58     8
56     8
23     7
21     6
59     5
62     4
52     4
64     2
63     2
19     1
20     1
22     1
Name: age, dtype: int64

In [213]:
df.policy_state.value_counts(dropna=False)

0    352
1    338
2    310
Name: policy_state, dtype: int64

In [214]:
df.auto_make.value_counts(dropna=False)

Saab          80
Dodge         80
Suburu        80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Accura        68
Volkswagen    68
Jeep          67
Mercedes      65
Honda         55
Name: auto_make, dtype: int64

In [215]:
df.insured_sex.value_counts(dropna=False)

0    537
1    463
Name: insured_sex, dtype: int64

In [216]:
df.insured_education_level.value_counts()

0    161
1    160
2    145
3    144
4    143
5    125
6    122
Name: insured_education_level, dtype: int64

In [217]:
df.insured_occupation.value_counts()

machine-op-inspct    93
prof-specialty       85
tech-support         78
sales                76
exec-managerial      76
craft-repair         74
transport-moving     72
other-service        71
priv-house-serv      71
armed-forces         69
adm-clerical         65
protective-serv      63
handlers-cleaners    54
farming-fishing      53
Name: insured_occupation, dtype: int64

In [218]:
df.insured_hobbies.value_counts()

reading           64
exercise          57
paintball         57
bungie-jumping    56
movies            55
golf              55
camping           55
kayaking          54
yachting          53
hiking            52
video-games       50
skydiving         49
base-jumping      49
board-games       48
polo              47
chess             46
dancing           43
sleeping          41
cross-fit         35
basketball        34
Name: insured_hobbies, dtype: int64

In [219]:
df.insured_relationship.value_counts()

0    183
1    177
2    174
3    170
4    155
5    141
Name: insured_relationship, dtype: int64

In [220]:
df.incident_type.value_counts(dropna=False)

0    419
1    403
2     94
3     84
Name: incident_type, dtype: int64

In [221]:
df.collision_type.value_counts(dropna=False)

0    292
1    276
2    254
3    178
Name: collision_type, dtype: int64

In [222]:
df.incident_severity.value_counts()

0    354
1    280
2    276
3     90
Name: incident_severity, dtype: int64

In [223]:
df.authorities_contacted.value_counts(dropna=False)

NaN    419
1.0    292
3.0    198
4.0     91
Name: authorities_contacted, dtype: int64

In [224]:
df.incident_state.value_counts(dropna=False)

0    262
1    248
2    217
3    110
4    110
5     30
6     23
Name: incident_state, dtype: int64

In [225]:
df.incident_city.value_counts()

0    157
1    152
2    149
3    145
4    141
5    134
6    122
Name: incident_city, dtype: int64

In [226]:
df.auto_make.value_counts()

Saab          80
Dodge         80
Suburu        80
Nissan        78
Chevrolet     76
Ford          72
BMW           72
Toyota        70
Audi          69
Accura        68
Volkswagen    68
Jeep          67
Mercedes      65
Honda         55
Name: auto_make, dtype: int64

In [227]:
df.auto_model.value_counts()

RAM               43
Wrangler          42
A3                37
Neon              37
MDX               36
Jetta             35
Passat            33
A5                32
Legacy            32
Pathfinder        31
Malibu            30
92x               28
Camry             28
Forrestor         28
F150              27
95                27
E400              27
93                25
Grand Cherokee    25
Escape            24
Tahoe             24
Maxima            24
Ultima            23
X5                23
Highlander        22
Civic             22
Silverado         22
Fusion            21
ML350             20
Impreza           20
Corolla           20
TL                20
CRV               20
C300              18
3 Series          18
X6                16
M5                15
Accord            13
RSX               12
Name: auto_model, dtype: int64

In [228]:
df.auto_year.value_counts()

1995    56
1999    55
2005    54
2006    53
2011    53
2007    52
2003    51
2009    50
2010    50
2013    49
2002    49
2015    47
1997    46
2012    46
2008    45
2014    44
2001    42
2000    42
1998    40
2004    39
1996    37
Name: auto_year, dtype: int64

In [229]:
df.fraud_reported.value_counts(dropna=False)

0    753
1    247
Name: fraud_reported, dtype: int64

In [230]:

df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,witnesses,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported
0,328,48,521585,2014-10-17 00:00:00,0,250/500,1000,1406.91,0,466132,...,2,YES,71610,6510,13020,52080,Saab,92x,2004,1
1,228,42,342868,2006-06-27 00:00:00,2,250/500,2000,1197.22,5000000,468176,...,0,?,5070,780,780,3510,Mercedes,E400,2007,1
2,134,29,687698,2000-09-06 00:00:00,0,100/300,2000,1413.14,5000000,430632,...,3,NO,34650,7700,3850,23100,Dodge,RAM,2007,0
3,256,41,227811,1990-05-25 00:00:00,1,250/500,2000,1415.74,6000000,608117,...,2,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,1
4,228,44,367455,2014-06-06 00:00:00,1,500/1000,1000,1583.91,6000000,610706,...,1,NO,6500,1300,650,4550,Accura,RSX,2009,0

In [231]:
correlation = df.corr()
correlation["fraud_reported"].sort_values(ascending=False)

C:\Users\TOSHIBA\AppData\Local\Temp\ipykernel_5328\3683176319.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  correlation = df.corr()

fraud_reported                 1.000000
incident_severity              0.271307
vehicle_claim                  0.170049
total_claim_amount             0.163651
property_claim                 0.137835
injury_claim                   0.090975
umbrella_limit                 0.058622
number_of_vehicles_involved    0.051839
witnesses                      0.049497
incident_state                 0.048061
bodily_injuries                0.033877
insured_sex                    0.030873
months_as_customer             0.020544
insured_zip                    0.019368
policy_deductable              0.014817
age                            0.012143
insured_education_level        0.010144
auto_year                      0.007928
incident_hour_of_the_day       0.004316
insured_relationship           0.002863
policy_state                  -0.004640
policy_annual_premium         -0.014480
capital-loss                  -0.014863
capital-gains                 -0.019173
authorities_contacted         -0.019536
policy_number                 -0.029443
incident_city                 -0.033011
incident_type                 -0.130812
collision_type                -0.145616
Name: fraud_reported, dtype: float64